<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= restaurant.name %> Details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/restaurant.css">
</head>

<body>
    <%- include('../partials/navbar')%>
        <h1>Edit <%=restaurant.name%> Details</h1>

        <div class="edit-restaurant">
            <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
                <label for="name">Name:</label>
                <input value="<%= restaurant.name %>" name="name" id="name" type="text">


                <label for="description">Description:</label>
                <input value="<%= restaurant.description %>" name="description" id="description" type="text">

                <label for="logo">Restaurant Logo: </label>
                <input value="<%=restaurant.logo%>" name="logo" id="logo" type="text">
                <br>
                <button type="submit">Update <%=restaurant.name%> Details</button>

            </form>
            <div class="restaurant-d-btn">
                <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="post">
                    <button>Delete Restaurant</button>
                </form>
            </div>

</body>

</html>