<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= restaurant.name %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <link rel="stylesheet" href="/css/meal.css">

    <style>
        .meal-div {
            cursor: pointer;
        }
    </style>
</head>

<body>

    <body>
        <%- include('../partials/navbar') %>

            <div class="restaurant-header">
                <img src="<%= restaurant.logo %>" alt="<%= restaurant.name %>">
                <p>
                    <%= restaurant.description %>
                </p>
                <h1 id="restaurant-fav">
                    <%= restaurant.name %>
                        <% if (user) { %>
                            <form class="btn-form" action="/restaurants/<%= restaurant._id %>/favorite?_method=POST"
                                method="POST">
                                <% if (isFavorited) { %>
                                    <button>🤍</button>
                                    <% } else { %>
                                        <button>❤️</button>
                                        <% } %>
                            </form>
                            <% } %>
                </h1>
            </div>
            <div class="restaurant-meals-line">
                <h2>Meals
                    <% if (user && user.role==='admin' ) { %>
                        <form class="btn-form" action="/restaurants/<%= restaurant._id %>/meals/new" method="GET">
                            <button>Add Meal</button>
                        </form>
                        <% } %>
                </h2>
            </div>
            <% if (meals.length===0) { %>
                <p>No meals have been added yet.</p>
                <% } else { %>
                    <div class="meal-grid">
                        <% for (let oneMeal of meals) { %>
                            <div class="meal-div meal-card" id="<%= oneMeal._id %>">
                                <img src="<%= oneMeal.image %>">
                                <h3>
                                    <%= oneMeal.name %>
                                </h3>
                                <p>Price: <%= oneMeal.price %>BD</p>
                            </div>
                            <% } %>
                    </div>
                    <% } %>

                        <script>
                            const allMealDivEls = document.querySelectorAll('.meal-div')
                            allMealDivEls.forEach((oneDiv) => {
                                oneDiv.addEventListener('click', () => {
                                    window.location.replace(`/meals/${oneDiv.id}`)
                                })
                            })
                        </script>
    </body>
</body>

</html>